---
import WidgetWrapper from '~/components/ui/WidgetWrapper.astro';
import type { CallToAction, Widget } from '~/types';
import Headline from '~/components/ui/Headline.astro';
import Button from '~/components/ui/Button.astro';

interface Props extends Widget {
  title?: string;
  subtitle?: string;
  tagline?: string;
  callToAction?: CallToAction;
  actions?: string | CallToAction[];
}

const {
  title = await Astro.slots.render('title'),
  subtitle = await Astro.slots.render('subtitle'),
  tagline = await Astro.slots.render('tagline'),
  actions = await Astro.slots.render('actions'),
  id,
  isDark = false,
  classes = {},
  bg = await Astro.slots.render('bg'),
} = Astro.props;
---

<WidgetWrapper id={id} isDark={isDark} containerClass={`max-w-6xl mx-auto ${classes?.container ?? ''}`} bg={bg}>
  <div
    class="max-w-3xl mx-auto text-center p-6 md:p-12 rounded-2xl
           bg-[#0A0094] dark:bg-[#0A0094]
           shadow-xl
           transform hover:scale-[1.02] transition-all duration-300"
  >
    <Headline
      title={title}
      subtitle={subtitle}
      tagline={tagline}
      classes={{
        container: 'mb-0 md:mb-0',
        title: 'text-2xl md:text-4xl lg:text-5xl font-bold tracking-tighter mb-4 font-heading text-white',
        subtitle: 'text-base md:text-xl text-gray-200',
      }}
    />
    {
      actions && (
        <div class="max-w-xs sm:max-w-md m-auto flex flex-nowrap flex-col sm:flex-row sm:justify-center gap-3 md:gap-4 mt-6 md:mt-8">
          {Array.isArray(actions) ? (
            actions.map((action) => (
              <div class={`flex w-full sm:w-auto ${action?.class || ''}`}>
                <Button
                  {...(action || {})}
                  class={`w-full sm:mb-0 min-h-[48px] ${action?.class || ''} ${
                    action.variant === 'primary'
                      ? 'bg-[#FFC836] border-[#FFC836] text-[#0A0094] hover:bg-[#e6b430] hover:border-[#e6b430] dark:bg-[#FFC836] dark:border-[#FFC836] dark:text-[#0A0094] dark:hover:bg-[#e6b430] dark:hover:border-[#e6b430]'
                      : action.variant === 'secondary'
                        ? 'border-white text-white hover:bg-white hover:text-[#0A0094] dark:border-white dark:text-white dark:hover:bg-white dark:hover:text-[#0A0094]'
                        : ''
                  }`}
                />
              </div>
            ))
          ) : (
            <Fragment set:html={actions} />
          )}
        </div>
      )
    }
  </div>
</WidgetWrapper>